@use '../themes/defaultTheme' as *;
@use '../util/variables'as *;
@use '../util/mixins'as *;

.loading {
  @include box(6rem);
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid $white;
  border-top-color: $primary-4;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}