@use '../themes/defaultTheme' as *;
@use '../util/variables'as *;
@use '../util/mixins'as *;

.container.ability{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  .btn{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $white ;
    &:hover{
      color: $black;
    }
  }
  li{
    // margin-bottom: .2rem;
    list-style-type: disc;
    color: $white;
    &:visited{
      color: $white;
    }
  }
  h3{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  li{
    list-style-type: circle;
    margin-left: 1rem;
    &::marker{
      color:$primary-4
    }
  }
}