@use '../themes/defaultTheme' as *;
@use '../util/variables'as *;
@use '../util/mixins'as *;

.container.ability{
  .btn{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $white ;
    &:hover{
      color: $black;
    }
  }
  li{
    // margin-bottom: .2rem;
    list-style-type: disc;
    color: $white;
    &:visited{
      color: $white;
    }
  }
  h3{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
}