//dark shades of primary color
$primary-0: hsl(39, 100%, 21%);
$primary-1: hsl(39, 100%, 29%);
$primary-2: hsl(39, 100%, 37%);
$primary-3: hsl(39, 100%, 45%);
$primary-4: hsl(39, 100%, 50%); //The primary color
$primary-5: hsl(39, 100%, 60%);
$primary-6: hsl(39, 100%, 67%);
$primary-7: hsl(39, 100%, 74%);
$primary-8: hsl(39, 100%, 81%);
$primary-9: hsl(39, 100%, 88%);
//lighter shades of primary color
//dark shades of seconday color
$seconday-0: hsl(35, 70%, 21%);
$seconday-1: hsl(35, 70%, 29%);
$seconday-2: hsl(35, 70%, 37%);
$seconday-3: hsl(35, 70%, 45%);
$seconday-4: hsl(35, 70%, 52%); //The seconday color
$seconday-5: hsl(35, 70%, 60%);
$seconday-6: hsl(35, 70%, 67%);
$seconday-7: hsl(35, 70%, 74%);
$seconday-8: hsl(35, 70%, 81%);
$seconday-9: hsl(35, 70%, 88%);
//lighter shades of seconday color
//dark shades of grey color
$grey-0: hsl(210, 00%, 00%);
$grey-1: hsl(210, 00%, 10%);
$grey-2: hsl(210, 00%, 20%);
$grey-3: hsl(210, 00%, 30%);
$grey-4: hsl(210, 00%, 40%); //The grey color
$grey-5: hsl(210, 00%, 50%);
$grey-6: hsl(210, 00%, 60%);
$grey-7: hsl(210, 00%, 70%);
$grey-8: hsl(210, 00%, 80%);
$grey-9: hsl(210, 00%, 90%);
//lighter shades of grey color

//misc colors
$white: #eee;
$black: #222;
$red-dark: hsl(0, 100%, 40%);
$red-light: hsl(360, 67%, 67%);
$green-dark: hsl(125, 75%, 40%);
$green-light: hsl(125, 67%, 75%);
