menu.li {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid red;
  margin-bottom: -5px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #1a1a1a;
  color: #ffd17a;
  line-height: 1.5;
  font-size: 1rem;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #222;
}
.link:visited {
  color: #222;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
  color: #ffb833;
}

h5 {
  color: #ffdd9e;
}

p {
  color: #e6e6e6;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
.container {
  width: 312px;
  margin: 3rem 0;
  background: #222;
  border-radius: 0.25rem;
  padding: 1.5rem 1.5rem;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 560px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 815px;
  }
}
.container h3 {
  font-weight: normal;
  text-transform: none;
}
.container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media only screen and (min-width: 1024px) {
  .section {
    width: 95vw;
  }
}
.underline {
  width: 90%;
  height: 2px;
  background-color: #ffa600;
  margin-bottom: 0.5rem;
}

.border-right {
  border-right: 1px solid #ffa600;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  padding: 0.375rem 0.75rem;
  border-color: transparent;
  background: #222;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  display: block;
  transition: all 0.5s linear;
  font-size: 0.875rem;
  border: 1px solid #ffa600;
  color: #eee;
  box-shadow: none;
  margin-left: 0.5rem;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
}
.btn:hover {
  color: #222;
  background: transparent;
}

a.linkbtn {
  text-align: center;
  text-transform: capitalize;
  width: 15rem;
  font-weight: 700;
  display: block;
  margin: 0.25rem;
  padding: 0.25rem 0.25rem;
  border-radius: 0.25rem;
  background: #222;
  color: #ffb833;
  box-shadow: inset 0px 0px 2px #ffb833, 4px 4px 5px black;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  color: #ffd17a;
  margin: 1rem auto;
  border-bottom: 1px solid #ffc457;
  outline: none;
  width: 100%;
}
input::-moz-placeholder {
  color: #ffc457;
}
input:-ms-input-placeholder {
  color: #ffc457;
}
input::placeholder {
  color: #ffc457;
}

.navbar {
  height: 3.5rem;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}
.navbar .logo {
  position: absolute;
  bottom: -16px;
  box-shadow: none;
}
.navbar img {
  height: 3rem;
  padding-left: 1.8rem;
}
.navbar .sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #ffb833;
  transition: all 0.5s linear;
  cursor: pointer;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #eee;
  border-top-color: #ffa600;
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}

@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
footer {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  background: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  color: #eee;
}

.container.home {
  max-width: 312px;
}
@media only screen and (min-width: 768px) {
  .container.home {
    max-width: 560px;
  }
}
@media only screen and (min-width: 1024px) {
  .container.home {
    max-width: 815px;
  }
}
.container.home ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1170px;
}
.sub .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.sub .link {
  width: 15rem;
  text-align: center;
  border: 1px solid #ffa600;
  background: darkgreen;
  color: #eee;
  box-shadow: inset 0px 0px 10px #222;
  border-radius: 0.25rem;
  margin: 0.25rem;
  padding: 0.25rem 0.25rem;
}
.sub .btn {
  text-align: center;
  width: 100%;
  display: block;
  border-radius: 0.25rem;
  background: #222;
  color: #eee;
}
.sub .btn:hover {
  background: #eee;
  color: #222;
}

.container.ability {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container.ability .btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #eee;
}
.container.ability .btn:hover {
  color: #222;
}
.container.ability li {
  list-style-type: disc;
  color: #eee;
}
.container.ability li:visited {
  color: #eee;
}
.container.ability h3 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.container.ability li {
  list-style-type: circle;
  margin-left: 1rem;
}
.container.ability li::marker {
  color: #ffa600;
}

.container.classes {
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}
.container.classes .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.container.classes .top .title {
  width: 60%;
  margin: 0;
}
.container.classes .top .hit {
  width: 40%;
  margin: 0;
}
.container.classes h4,
.container.classes h3,
.container.classes h5 {
  text-align: center;
}
.container.classes .hit {
  width: 35%;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.container.classes .hit h3 {
  margin-bottom: 0.5rem;
}
.container.classes .hit p {
  width: 100%;
  text-align: center;
}
.container.classes .saving {
  width: 65%;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-right: 1px solid #ffa600;
}
.container.classes .saving h3 {
  margin-bottom: 0.5rem;
}
.container.classes .saving .stats {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.container.classes .saving a {
  text-align: center;
  width: 8rem;
  color: #eee;
}
.container.classes .saving a:visited {
  color: #eee;
}
.container.classes .multiclass {
  justify-content: flex-start;
  margin: 0 auto;
  flex-wrap: nowrap;
  height: 2rem;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container.classes .multiclass h4 {
  margin-bottom: 0.5rem;
}
.container.classes .multiclass h5 {
  width: 45%;
}
.container.classes .equip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  flex-wrap: nowrap;
  height: 2rem;
  overflow: hidden;
  margin-top: 1rem;
}
.container.classes .equip a {
  width: 8rem;
  justify-content: flex-start;
}
.container.classes .proficiencies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  flex-wrap: nowrap;
  height: 2rem;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: all 0.5s linear;
  margin-top: 1rem;
}
.container.classes ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 18rem;
}
.container.classes h3 {
  margin-top: 0;
}
.container.classes h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.container.classes li {
  width: 7.75rem;
  margin-left: 1.25rem;
  list-style-type: circle;
}
.container.classes li a {
  font-size: 0.875rem;
  color: #eee;
  min-width: 10rem;
  box-shadow: none;
}
.container.classes .btn {
  width: 100%;
}

.alignments .underline {
  margin-bottom: 1rem;
}

.conditions li {
  margin-top: 1rem;
  list-style-type: circle;
  margin-left: 1.2rem;
  color: #eee;
}
.conditions li::marker {
  color: #ffb833;
}
.conditions p {
  margin-top: 0.5rem;
}
.conditions span {
  color: #ffb833;
}
.conditions .numerical {
  list-style-type: none;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.languages .title {
  display: grid;
  align-items: baseline;
}
.languages li {
  margin-left: 2rem;
  list-style: circle;
  color: #eee;
}
.languages li::marker {
  color: #ffa600;
}
.languages h3 {
  margin-top: 1rem;
}/*# sourceMappingURL=main.css.map */